<!DOCTYPE html>
<html class="ui-page-login">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title>站点详情</title>
    <link href="css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="loading/loadings.css">
    <link rel="stylesheet" type="text/css" href="css/mui.picker.min.css" />
    <link href="css/mui.picker.css" rel="stylesheet" />
    <link href="css/mui.poppicker.css" rel="stylesheet" />
    <script src="js/jquery.js"></script>
    <script src="js/mui.min.js"></script>
    <script src="js/mui.picker.min.js"></script>
    <script src="js/mui.picker.js"></script>
    <script src="js/mui.poppicker.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="util/crypto-js.js"></script>
    <script src="util/util.js"></script>
    <script src="util/md5.js"></script>
    <script src="util/api.js"></script>
    <script src="loading/loadings.js"></script>
    <script src="js/vue.js"></script>
    <style>
        .hqyzm{
            position: absolute;
            right: 10px;
            top: 4px;
			width: 90px;
            background-color: #f0ad4e;
            color: #fff;
            border-radius: 30px;
            border: none;
        }
		.mui-content{
			background: white;
			margin-top: 20px;
		}
		.mui-input-group:after,.mui-input-group:before{
			height: 0;
		}
		input::-webkit-input-placeholder {
			color: black;
			font-size: 1rem;
		}
		#site option{
			
		}
		.mui-input-row label~input, .mui-input-row label~select, .mui-input-row label~textarea{
			width: 50%;
		}
    </style>
</head>
<body style="background: white;">
    <header class="mui-bar mui-bar-nav">
        <span class=" mui-icon  mui-pull-left" onclick="history.back(-1)">
        	<img src="img/left.png" style="width: 25px;height: 25px;">
        </span>
        <h1 class="mui-title">站点详情(可修改)</h1>
    </header>
	<!-- 手机号验证 -->
    <div class="mui-content" id="Deatil">
        <form class="mui-input-group">
            <div class="mui-input-row" style="height: 50px;">
                <label style="margin: 15px 15px;padding: 0;width: 35%;border-right: 1px solid rgb(240,240,240);">站点名称</label>
                <input type="text" v-model="DeatilJson.PM0006_NAME"  style="height: 50px;width: 55%;" class="mui-input-clear mui-input"/>
            </div>
			<!-- <div class="mui-input-row" style="height: 50px;">
			    <label style="margin: 15px 15px;padding: 0;width: 35%;border-right: 1px solid rgb(240,240,240);">重置登录密码</label>
			    <input type="text" placeholder="请输入登录密码" v-model="Psdtext"  style="height: 50px;" class="mui-input-clear mui-input"/>
			</div> -->
			<div class="mui-input-row" style="display: flex;justify-content: space-between;">
			    <label style="margin: 15px 15px;padding: 0;width: 35%;border-right: 1px solid rgb(240,240,240);">站点状态</label>
				<div style="display: flex;width: 55%;">
					<div class="mui-switch mui-switch-blue mui-switch-mini" :class="{'mui-active':ActiveFlag}" rel="false">
						<div class="mui-switch-handle"></div>
					</div>
				</div>
			</div>
        </form>
       <div class="mui-content-padded">
            <button @click="Gotomodity" class="mui-btn mui-btn-block mui-btn-danger border-radius" onclick="" style="height: 40px;line-height:.8rem;margin-top: 40px;border-radius: 20px;background: #f0ad4e;border: 0;">确 定</button>
        </div>
    </div>
	<script type="text/javascript">
		new Vue({
			el: '#Deatil',
			data: {
				DeatilJson:{},
				UserInfo:{},
				Psdtext:'',
				ActiveFlag:false,
			},
			mounted(){
				this.UserInfo=JSON.parse(localStorage.getItem('UserInfo'))
				
				console.log(this.UserInfo)
				this.DeatilJson=JSON.parse(localStorage.getItem('ZdItems'))
				if(this.DeatilJson.PM0006_STATE==1){
					this.ActiveFlag=true
					$(".mui-content .mui-switch").attr('rel','true')
				}
				console.log(this.DeatilJson)
			},
			methods:{
				FlagToken(){
					var UserInfo=JSON.parse(JSON.parse(localStorage.getItem('UserInfo')))
					var UserPsd=md5(JSON.parse(localStorage.getItem('UserLoginInfo')).password).slice(0,16).toUpperCase()
					var UserToken={
						method:'loginstate',
						userid:UserInfo.PM0003_ID,
						token:UserInfo.PM0003_TOKEN
					}
					console.log(UserToken)
					console.log(UserPsd)
					var Flag=false
					var TokenAesJson=encodeURIComponent(encrypt(JSON.stringify(UserToken),UserPsd))
					$.ajax(`${GetLoginState}?params=${TokenAesJson}&smsusername=${UserInfo.PM0003_PHONE}`,{
						data:{},
						dataType:'json',//服务器返回json格式数据
						type:'POST',//HTTP请求类型
						async:false,  //同步方式
						timeout:10000,//超时时间设置为10秒；
						success:function(response){
							console.log(response)
							if(parseInt(response.LOGINSTATUS)==2&&parseInt(response.RESULT)==0){
								mui.toast("账号已在另一方登录，已下线",{
									duration:500
								});
								localStorage.removeItem('UserInfo')
								localStorage.removeItem('UserLoginInfo')
								setTimeout(function(){
									window.location.href='index.html'
								},600)
								Flag=false
							}
							else{
								Flag=true
							}
						},
						error:function(xhr,type,errorThrown){
							console.log(xhr)
						}
					});
					return Flag
				},
				Gotomodity(){
					var flag=this.FlagToken()
					if(flag){
						mui.showLoading("修改中...","div");
						var refs=$(".mui-switch").attr('rel')
						if(refs=='true'){
							this.DeatilJson.PM0003_STATE='1'
						}
						else{
							this.DeatilJson.PM0003_STATE='0'
						}
						var json={
							method:'edit',
							siteid:this.DeatilJson.PM0006_NO,
							sitename:this.DeatilJson.PM0006_NAME,
							createuser:JSON.parse(this.UserInfo).PM0003_PHONE,
							state:this.DeatilJson.PM0003_STATE
						}
						console.log(json)
						console.log(JSON.parse(this.UserInfo).PM0003_TOKEN)
						var AesJson=encodeURIComponent(encrypt(encodeURIComponent(JSON.stringify(json)),JSON.parse(this.UserInfo).PM0003_TOKEN))
						console.log(AesJson)
						$.ajax(`${SiteInfoMs}?params=${AesJson}&smsuserid=${JSON.parse(this.UserInfo).PM0003_ID}`,{
							data:{},
							dataType:'json',//服务器返回json格式数据
							type:'POST',//HTTP请求类型
							timeout:10000,//超时时间设置为10秒；
							success:function(response){
								console.log(response)
								if(parseInt(response.RESULT)==1&&response.MESSAGE=='修改站点成功'){
									setTimeout(function(){
										mui.hideLoading()
										mui.toast(response.MESSAGE,{
											duration:1000
										});	
										setTimeout(function(){
											history.back(-1)
										},500)
									},1500)
								}
								else{
									setTimeout(function(){
										mui.hideLoading()
										mui.toast(response.MESSAGE,{
											duration:1000
										});	
									},1500)
								}
							},
							error:function(xhr,type,errorThrown){
								console.log(xhr)
							}
						});
					}
				},
			}
		})
	</script>
	<script type="text/javascript">
		mui.init({
			swipeBack:true //启用右滑关闭功能
		});
		mui('.mui-content .mui-switch').each(function() {
			this.addEventListener('toggle', function(event) {
				if($(this).attr('rel')=='false'){
					$(this).attr('rel','true')
				}
				else{
					$(this).attr('rel','false')
				}
			});
		});
	</script>
</body>
</html>
