<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>用户列表</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="loading/loadings.css">
		<style type="text/css">
			.table-responsive{
				border: 0;
			}
			tbody tr:active{
				background: rgb(240,240,240);
			}
			.Noactive{
				background: #C8C7CC;
			}
			tr{
				border-bottom: 1px solid #CCCCCC;
			}
			.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
				border-top: 0;
			}
			tr th,tr td{
				text-align: center;
			}
		</style>
		<script src="js/jquery.js"></script>
		<script src="js/mui.min.js"></script>
		<script src="util/crypto-js.js"></script>
		<script src="util/util.js"></script>
		<script src="util/md5.js"></script>
		<script src="util/api.js"></script>
		<script src="loading/loadings.js"></script>
		<script src="js/vue.js"></script>
		<script type="text/javascript">
			$(function(){
				mui.showLoading("正在加载..","div");
				setTimeout(()=>{
					mui.hideLoading()
				},500)
			})
		</script>
		<script type="text/javascript">
			function GotoAddAct(){
				window.location.href="registerUser.html"
			}
		</script>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<span class=" mui-icon  mui-pull-left" onclick="history.back(-1)">
				<img src="img/left.png" style="width: 25px;height: 25px;">
			</span>
			<h1 class="mui-title">用户列表</h1>
			<span class=" mui-icon  mui-pull-right" onclick="GotoAddAct()">
				<img src="img/add.png" style="width: 25px;height: 25px;">
			</span>
		</header>
		<div id="Acts" class="table-responsive" style="margin-top: 60px;">	
			<table class="table browser-table " id="example" v-if="ActiveFlag">
				<thead>
					<tr>
						<th>用户名称</th>
						<th>用户手机号</th>
						<!-- <th>创建时间</th> -->
						<th>状态</th>
						<th>编辑</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(item,index) in ActivitList" :key="index">
						<td>{{item.PM0003_REAL_NAME}}</td>
						<td>{{item.PM0003_PHONE}}</td>
						<!-- <td>{{item.PM0003_CREATE_TIME}}</td> -->
						<td style="display: flex;justify-content: center;height: 37px;align-items: center;">
							<div v-if="item.PM0003_STATE!='1'" style="width: 10px;height: 10px;background: red;border-radius: 50%;"></div>
							<div v-else style="width: 10px;height: 10px;background:green;border-radius: 50%;"></div>
						</td>
						<td><span @click="modifyuser(item)">修改</span>&nbsp;&nbsp;/&nbsp;&nbsp;<span @click="DelUser(item)">删除</span></td>
					</tr>
				</tbody>
			</table>
			<div v-else>
				<div style="text-align: center;color: #ccc;margin-top: 10%;">暂无用户列表信息</div>
			</div>
		</div>
		<!-- <nav aria-label="...">
		  <ul class="pager">
			<li class="previous"><span><span aria-hidden="true">&larr;</span> 上一页</span></li>
			<li style="height: 32px;line-height: 32px;">共<text style="color: red;">1</text>页,当前第<text style="color: red;">1</text>页</li>
			<li class="next "><span class="Noactive">下一页<span aria-hidden="true">&rarr;</span></span></li>
		  </ul>
		</nav> -->
		<script type="text/javascript">
			new Vue({
				el: '#Acts',
				data: {
					ActivitList:[],
					ActiveFlag:true,
				},
				created(){
					var flag=this.FlagToken()
					if(flag){
						this.getUserList()
					}
				},
				methods:{
					FlagToken(){
						var UserInfo=JSON.parse(JSON.parse(localStorage.getItem('UserInfo')))
						var UserPsd=md5(JSON.parse(localStorage.getItem('UserLoginInfo')).password).slice(0,16).toUpperCase()
						var UserToken={
							method:'loginstate',
							userid:UserInfo.PM0003_ID,
							token:UserInfo.PM0003_TOKEN
						}
						console.log(UserToken)
						console.log(UserPsd)
						var Flag=false
						var TokenAesJson=encodeURIComponent(encrypt(JSON.stringify(UserToken),UserPsd))
						$.ajax(`${GetLoginState}?params=${TokenAesJson}&smsusername=${UserInfo.PM0003_PHONE}`,{
							data:{},
							dataType:'json',//服务器返回json格式数据
							type:'POST',//HTTP请求类型
							async:false,  //同步方式
							timeout:10000,//超时时间设置为10秒；
							success:function(response){
								console.log(response)
								if(parseInt(response.LOGINSTATUS)==2&&parseInt(response.RESULT)==0){
									mui.toast("账号已在另一方登录，已下线",{
										duration:500
									});
									localStorage.removeItem('UserInfo')
									localStorage.removeItem('UserLoginInfo')
									setTimeout(function(){
										window.location.href='index.html'
									},600)
									Flag=false
								}
								else{
									Flag=true
								}
							},
							error:function(xhr,type,errorThrown){
								console.log(xhr)
							}
						});
						return Flag
					},
					modifyuser(item){
						var json=JSON.stringify(item)
						console.log(json)
						localStorage.setItem('ModifyUser',json)
						window.location.href=`modifyUserInfo.html`
					},
					getUserList(){
						var _this=this
						var UserInfo=JSON.parse(localStorage.getItem('UserInfo'))
						var json={
							method:'list',
							merchantid:JSON.parse(UserInfo).PM0003_APP_STORE_ID
						}
						console.log(json)
						console.log(JSON.parse(UserInfo).PM0003_TOKEN)
						var AesJson=encodeURIComponent(encrypt(JSON.stringify(json),JSON.parse(UserInfo).PM0003_TOKEN))
						$.ajax(`${UserInfoMs}?params=${AesJson}&smsuserid=${JSON.parse(UserInfo).PM0003_ID}`,{
							data:{},
							dataType:'json',//服务器返回json格式数据
							type:'POST',//HTTP请求类型
							timeout:10000,//超时时间设置为10秒；
							success:function(response){
								console.log(response)
								_this.ActivitList=JSON.parse(response.DATA)
								_this.ActivitList.forEach((item,index)=>{
									if(item.PM0003_ID==JSON.parse(UserInfo).PM0003_ID){
										_this.ActivitList.splice(index,1)
									}
								})
								console.log(_this.ActivitList)
								if(_this.ActivitList.length==0){
									_this.ActiveFlag=false
								}
							},
							error:function(xhr,type,errorThrown){
								console.log(xhr)
							}
						});
					},
					DelUser(row){
						var _this=this
						var UserInfo=JSON.parse(localStorage.getItem('UserInfo'))
						var btnArray = ['取消', '删除'];
						mui.confirm('是否删除当前用户？', '提示', btnArray, function(e) {
							if (e.index == 1) {
								var Flag=FlagToken()
								if(Flag){
									mui.showLoading("删除中..","div");
									json={
										method:'delete',
										userid:row.PM0003_ID
									}
									var AesJson=encodeURIComponent(encrypt(JSON.stringify(json),JSON.parse(UserInfo).PM0003_TOKEN))
									$.ajax(`${UserInfoMs}?params=${AesJson}&smsuserid=${JSON.parse(UserInfo).PM0003_ID}`,{
										data:{},
										dataType:'json',//服务器返回json格式数据
										type:'POST',//HTTP请求类型
										timeout:10000,//超时时间设置为10秒；
										success:function(response){
											console.log(response)
											if(response.MESSAGE=='删除用户成功'&&parseInt(response.RESULT)==1){
												setTimeout(function(){
													mui.hideLoading()
													mui.toast(response.MESSAGE,{
														duration:1000
													});
												},1000)
											}
											else{
												setTimeout(function(){
													mui.hideLoading()
													mui.toast(response.MESSAGE,{
														duration:1000
													});
												},1000)
											}
											_this.getUserList()
										},
										error:function(xhr,type,errorThrown){
											console.log(xhr)
										}
									});
								}
							} else {
								return
							}
						})
					}
				}
			})
		</script>
	</body>
</html>
